.contact-container{
    background-image: linear-gradient(305deg,#001c99,#001f8f 18%,#001f85 29%,#001f75 38%,#001e6b 47%,#001f61 55%,#001d57 65%,#021b4b 78%,#081a3f);
}

.parrent-input{
    width: 100%;
}
.parrent-container{
    width: 100%;
}
.input-field{
    margin-top: 10px;
    width: 100%;
    border-bottom: 2px solid gray;
}
.textarea-secondary{
    border: 1px solid gray;
    padding: 20px;
    border-radius: 5px;
}